@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(221,221,221);
    background: radial-gradient(circle, rgba(221,221,221,1) 0%, rgba(182,182,182,1) 100%);
}


.imagen1 {
    height: 50px;
    margin-right: 50px;
    transition: transform 0.5s; 

    &:hover {
        transform: rotate(-30deg) scale(1.2);;
    }
}


/* Encabezado */
.head {
    background-color: #9B00FF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    
}

.div_one {
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.redirects {
    color: white;
    font-family: 'Poppins', sans-serif;
    display: inline;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    text-decoration: none;
    font-weight: bold;
    &:hover {
        border-bottom: 3px solid white;
    }
}

/* Contenedor de búsqueda */
.search-container {
    margin: 30px 50px;
    display: flex;
}

.search {
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 15px;
    outline: none;
    box-sizing: border-box;
    transition: all 0.1s; 

    &:hover {
        border: 3px solid #8300D7;
        box-shadow: 0 0 10px rgba(108, 0, 178, 0.5);
    }
}
.search-button {
    background-color: #9B00FF;
    border: none;
    padding: 5px;
    border-radius: 20px;
    cursor: pointer;
}

.search-button img {
    width: 20px; 
    height: 20px;
}


/* Body */

.cards {
    display: flex;
    justify-content: space-between;
    margin: 50px 20px; /* Ajusté el margen lateral */
}

.card-dad {
    margin: 10px;
    background-color: #212529;
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 10px 8px rgba(5, 3, 3, 0.1); /* Agregué una sombra predeterminada */
}

.card-dad:hover {
    transform: scale(1.1);
    box-shadow: 10px 20px 40px rgba(0, 0, 0, 0.2); /* Ajusté la sombra al hacer hover */
}


.card-dad img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;

}

.content {
    text-align: center;
    margin: 30px 20px;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.dad-boton{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
}

.boton {
    width: 150px;
    height: 50px;
    background-color: #0d6efd;
    color: white;
    border-radius: 10px;
    border: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    text-decoration: none;
    padding: 12px;
    &:hover{
        background-color: #0A5FDC;
    }
}

