@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.imagen1 {
    height: 50px;
    margin-right: 50px;
    transition: transform 0.5s; 

    &:hover {
        transform: rotate(45deg);
    }
}


/* Encabezado */
.head {
    background-color: #9B00FF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    
}

.div_one {
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.redirects {
    color: white;
    font-family: 'Poppins', sans-serif;
    display: inline;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    text-decoration: none;
    font-weight: bold;
    &:hover {
        border-bottom: 3px solid white;
    }
}

/* Contenedor de búsqueda */
.search-container {
    margin: 30px 50px;
    display: flex;
}

.search {
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 15px;
    outline: none;
    box-sizing: border-box;
    transition: all 0.1s; 

    &:hover {
        border: 3px solid #8300D7;
        box-shadow: 0 0 10px rgba(108, 0, 178, 0.5);
    }
}
.search-button {
    background-color: #9B00FF;
    border: none;
    padding: 5px;
    border-radius: 20px;
    cursor: pointer;
}

.search-button img {
    width: 20px; 
    height: 20px;
}



.card-dad{
    margin: 10px;
    background-color: #4D4D4D;
    width: 300px;
    border-radius: 20px;
    border: 1px solid black;
}

.card-dad img {
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;

}

.content {
    margin: 30px 20px;
    color: white;
}

.card-dad .boton {
    width: 200px;
    height: 50px;
    background-color: #1270FF;
    color: white;
    border-radius: 10px;
    border: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;

}

.dad-boton{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 20px;
}