*{
    margin: 0;
    padding: 0;
}

.imagen1 {
    height: 50px;
}

.itemsbanner {
    background-color: #9B00FF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.itemsspans {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: inline;
    justify-content: center;
    align-items: center;
    margin-left: 30px;

}

.divuno {
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.inputuno {
    margin-right: 450px;
}

.card-dad{
    background-color: #ECECEC;
    width: 700px;
}

.card-dad img {
    width: 600px;
}
